[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User=pi
Restart=on-failure

ExecStart=node_exporter \
	--collector.textfile.directory=/home/pi/logs \
	--no-collector.arp \
	--no-collector.bcache \
	--no-collector.bonding \
	--no-collector.conntrack \
	--no-collector.cpu \
	--no-collector.cpufreq \
	--no-collector.diskstats \
	--no-collector.edac \
	--no-collector.entropy \
	--no-collector.filefd \
	--no-collector.filesystem \
	--no-collector.hwmon \
	--no-collector.infiniband \
	--no-collector.ipvs \
	--no-collector.loadavg \
	--no-collector.mdadm \
	--no-collector.meminfo \
	--no-collector.netclass \
	--no-collector.netdev \
	--no-collector.netstat \
	--no-collector.nfs \
	--no-collector.nfsd \
	--no-collector.powersupplyclass \
	--no-collector.pressure \
	--no-collector.schedstat \
	--no-collector.sockstat \
	--no-collector.softnet \
	--no-collector.stat \
	--no-collector.thermal_zone \
	--no-collector.time \
	--no-collector.timex \
	--no-collector.uname \
	--no-collector.vmstat \
	--no-collector.xfs \
	--no-collector.zfs

[Install]
WantedBy=multi-user.target

